* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  border: none;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

nav {
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
}

#checkbox-menu,
.toggle {
  display: none;
}

.menu {
  padding: 0;
  margin: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.menu li a {
  color: #000;
  text-decoration: none;
  align-self: center;
  font-size: 13px;
  padding: 10px 15px;
  transition: background 0.2s linear;
  text-transform: capitalize;
}

.menu li a:hover {
  background: #ffcc01;
  border-radius: 3px;
}

.menu li a.logo {
  font-size: 25px;
  margin-right: 240px;
  text-transform: none;
}

.menu li a.contacts {
  margin-right: 100px;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1110px;
  width: 100%;
}

.intro {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

.intro-img {
  background-image: url(img/room.jpeg);
  width: 900px;
  height: 600px;
}

.intro .intro-text {
  position: absolute;
  font-size: 62px;
  text-transform: capitalize;
  right: 750px;
  top: 220px;
}

.intro-contacts {
  background-color: #ffcc01;
  max-width: 590px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}

.intro-contacts i {
  color: #fff;
  margin-right: 30px;
}

.intro-contacts p {
  font-size: 18px;
  margin-right: 60px;
}

.intro-contacts a {
  text-decoration: none;
  color: inherit;
}

.stats {
  display: flex;
  margin-top: 130px;
}

.stats-line {
  display: flex;
}

.stats-text {
  padding-right: 40px;
  padding-left: 20px;
}

.stats-text h2 {
  font-size: 40px;
  margin-bottom: 70px;
}

.stats-text p {
  margin-top: 50px;
  font-size: 13px;
  line-height: 27px;
}

.square {
  width: 200px;
  height: 200px;
  background-color: #f6f5f4;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square-num {
  font-size: 40px;
  color: #ffcc01;
  margin-bottom: 15px;
}

.square-text {
  font-size: 14px;
}

.appartments {
  background: #f6f5f4;
  padding: 60px 0;
}

.apart h2 {
  margin-bottom: 85px;
  font-size: 40px;
}

.card {
  max-width: 348px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-container {
  padding: 25px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.card-info .money {
  font-size: 18px;
  color: #ffcc01;
}

.card-info i {
  margin-right: 8px;
}

.card-info span:not(:last-child) {
  margin-right: 18px;
}

.card:hover {
  background: #fafaf9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 30px;
}

.buttons-search {
  margin-top: 50px;
  display: flex;
}

.buttons-search input,
.buttons-search button {
  cursor: pointer;
}

.buttons-search form {
  font-size: 0;
  margin-right: 40px;
}

.apart input[type="text"] {
  min-width: 300px;
  min-height: 70px;
  background-image: url(img/search.png);
  background-repeat: no-repeat;
  background-position: 27px;
  outline: none;
  padding-left: 62px;
  font-size: 15px;
  color: #919eb1;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.apart input[type="submit"] {
  min-width: 115px;
  min-height: 70px;
  background-color: #ffcc01;
  font-size: 15px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.all {
  min-width: 250px;
  min-height: 70px;
  border-radius: 4px;
}

.steps {
  padding: 55px 20px;
}

.steps h2 {
  font-size: 40px;
  margin-bottom: 35px;
}

.step-text {
  line-height: 27px;
  font-size: 13px;
}

.mb-text {
  margin-bottom: 70px;
}

.steps-container {
  display: flex;
  justify-content: space-between;
}

.step-block {
  width: 340px;
  height: 370px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 15px;
}

.step-block:hover {
  background-color: #ffcc01;
  color: #fff;
}

.step-block .step-num {
  font-size: 200px;
  position: relative;
  top: -120px;
  left: -30px;
}

.step-block h4 {
  font-size: 14px;
  margin-left: 40px;
  margin-top: -100px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.step-block h4 span {
  margin-right: 15px;
}

.step-block .step-info {
  margin-left: 70px;
  line-height: 29px;
}

.step-block .stepinfolast {
  display: inline-block;
  margin-left: 70px;
  margin-top: 20px;
  border-bottom: 3px solid #000;
  text-transform: capitalize;
  cursor: pointer;
}

.step-block:hover .stepinfolast {
  border-color: #fff;
}

@media screen and (max-width: 1100px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 10px;
    justify-items: center;
  }

  .steps-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .step-block {
    width: 50%;
    height: 370px;
  }

  .step-block:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 900px) {
  .toggle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    width: 100%;
    color: #000;
    background: #ffcc01;
    transition: all 0.1s linear;
  }

  .toggle:hover {
    background: #d3a900;
  }

  #checkbox-menu:checked + label .touch li {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s linear;
  }

  #checkbox-menu:checked + label .touch {
    height: 350px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0;
    transition: height 0.3s linear;
  }

  .menu li {
    display: flex;
    align-self: center;
    width: 95%;
    opacity: 0;
    visibility: hidden;
  }

  .menu li a {
    width: 95%;
    text-align: center;
    align-self: center;
    align-content: center;
  }

  .menu li a.logo {
    font-size: 21px;
    margin-right: 0;
  }

  .menu li a.contacts {
    margin-right: 0;
  }

  .intro {
    margin-top: 0;
    display: block;
    max-width: 100%;
  }

  .intro-img {
    background-repeat: no-repeat;
  }

  .intro .intro-text {
    position: relative;
    font-size: 35px;
    right: -10px;
    top: 95px;
  }

  .intro .intro-contacts {
    position: relative;
    right: 0;
    top: -55px;
    padding: 20px 10px;
  }

  .intro-contacts i {
    margin-right: 10px;
  }

  .intro-contacts p {
    font-size: 13px;
    margin-right: 0;
  }

  .stats {
    margin-top: 0;
    flex-direction: column;
  }

  .stats-text {
    padding: 10px;
  }

  .stats-text h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .stats-text p {
    margin-top: 5px;
    font-size: 13px;
    line-height: 18px;
  }

  .square {
    height: 140px;
    margin: 5px;
  }

  .stats-line {
    justify-content: space-around;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 10px;
    justify-items: center;
  }

  .buttons-search {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }

  .buttons-search form {
    margin-right: 0;
  }

  .all {
    margin-top: 15px;
  }

  .step-block {
    width: 100%;
  }

  .step-header,
  .step-text {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .buttons-search form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .apart input[type="submit"] {
    margin-top: 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .apart input[type="text"] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media (orientation: landscape) {
  .menu li a.logo {
    margin-right: 30px;
  }

  .menu li a.contacts {
    margin-right: 0;
  }

  .menu li a {
    font-size: 16px;
  }

  .intro {
    margin-top: 0;
  }

  .intro .intro-text {
    font-size: 45px;
    left: 0;
    right: 50%;
  }

  .intro-contacts {
    width: 100%;
    bottom: 0;
  }

  .intro-img {
    background-position: bottom 0 right 0;
  }
}
